.rostro{
    background-color: palevioletred;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
}
.linea-de-los-ojos{
    display: flex;
    flex-direction: row;
    padding-right: 5px;

}
.ojo{
    
    width:  10px;
    flex-direction: column;
    padding-right: 5px;
    /* background: none;
    border: 0;
     color: inherit; */
    
}

/* .ojo:hover{
    background-color: black;
    border-radius: 100%;
    width: 10px;
    height: 10px;
} */